.info-section-title {
    color: var(--shade-color-7);
    font-family: var(--title-font-family);
    font-size: 2em;
    font-weight: normal;
}

.info-section-text-wrapper {
    max-width: 900px;
}

.info-section-text {
    color: var(--body-color);
    font-family: var(--body-font-family);
    font-size: 1em;
    font-weight: normal;
}

.info-section-light {
    background: var(--shade-color-8);
}