{% load static %} 

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-wrap">
            <div class="col-12">
                <div class="info-aptitude-role-title">
                    Developer
                </div>
                <div class="mt-3">
                    Demonstrates creativity in solving problems and develops exemplary programs worth executing.
                </div>
            </div>
            <div class="col-12">
                <div class="info-aptitude-role-title w-100">
                    Operator
                </div>
                <div class="mt-3">
                    Detects anomalies with real-time, partial data while avoiding distractions.
                </div>
            </div>
            <div class="col-12">
                <div class="info-aptitude-role-title w-100">
                    Analyst
                </div>
                <div class="mt-3">
                    Analyzes and resolves extensive amounts of conflicting data.
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="info-aptitude-img" src="{% static 'info/img/cyber-aptitude-key-abilities.jpg' %}"/>
        </div>
    </div>
</div>