{% load static %} 


<div class="container">
    <div class="row">
        <div class="col-md-6 flex-wrap d-flex justify-content-center">
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-badges-offered-fat.png' %}" alt="151 impact badges offered image"/>
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-certifications-offered-fat.png' %}" alt="8 industry certs offered image"/>
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-education-value-fat.png' %}" alt="10000$ education value image"/>
        </div>
        <div class="col-md-6 flex-wrap d-flex justify-content-center">
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-employers-fat.png' %}" alt="40+ program employers image"/>
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-trained-professionals-fat.png' %}" alt="1700+ trained professionals image"/>
            <img class="info-impact-img my-2" src="{% static 'info/img/program-impact-work-roles-fat.png' %}" alt="15 program work roles image"/>
        </div>
    </div>
</div>