{% load static %}

<img class="info-map-img" src="{% static '/info/img/map-institutions.png' %}" alt="Map of CyberSkills2Work educational institutions by geographical location"/>

<div class="container mt-5 info-impact-list-container">
    <div class="row">
      <div class="col-md-6">
        <ol>
          <li>
            Augusta University
            <ol type="a">
              <li>Cyber Defense Analyst</li>
            </ol>
          </li>
          <li>
            Eastern New Mexico University - Ruidoso
            <ol type="a">
              <li>Cyber Defense Infrastructure Support Specialist</li>
            </ol>
          </li>
          <li>
            Dakota State University
            <ol type="a">
              <li>Threat/Warning (OSINT and Dark Web) Analyst</li>
            </ol>
          </li>
          <li>
            Florida International University
            <ol type="a">
              <li>Cyber Defense Forensics Analyst</li>
              <li>Cyber Threat Intelligence Fellowship (Threat/Warning Analyst)</li>
              <li>Technical Support Specialist</li>
            </ol>
          </li>
          <li>
            Metropolitan State University
            <ol type="a">
              <li>Cyber Defense Analyst</li>
              <li>Cyber Defense Infrastructure Support Specialist</li>
              <li>Knowledge Manager</li>
              <li>Network Operations Specialist</li>
              <li>System Administrator</li>
              <li>Systems Security Analyst</li>
              <li>Technical Support Specialist</li>
              <li>Vulnerability Assessment Analyst</li>
            </ol>
          </li>
        </ol>
      </div>
      <div class="col-md-6">
        <ol start="6">
          <li>
            San Antonio College
            <ol type="a">
              <li>Cyber Defense Forensics Analyst</li>
              <li>Cyber Defense Incident Responder</li>
              <li>Technical Support Specialist</li>
            </ol>
          </li>
          <li>
            University of South Florida
            <ol type="a">
              <li>Cyber Defense Analyst</li>
            </ol>
          </li>
          <li>
            University of Texas at San Antonio
            <ol type="a">
              <li>Cyber Defense Analyst</li>
            </ol>
          </li>
          <li class="info-impact-main-uni">
            University of West Florida (lead institution)
            <ol type="a">
              <li>Cyber Defense Infrastructure Support Specialist</li>
              <li>System Administrator</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>