{% load static %}

<div class="info-resources-list-container">
    <ul>
        <li>
            <a href="https://www.comptia.org/certifications" target="_blank">CompTIA</a> - A comprehensive guide to all professional certifications and exam requirements from the Computing Technology Industry Association (CompTIA). CompTIA certifications help prepare job seekers for many information technology and cybersecurity work roles.
        </li>
        <li>
            <a href="https://niccs.cisa.gov/workforce-development/cyber-career-pathways-tool" target="_blank">Cyber Career Pathways Tool</a> - Identifies and describes the various work roles within the National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework. Search work roles to learn their primary job tasks and related functional titles.
        </li>
        <li>
            <a href="https://www.cyberseek.org/" target="_blank">CyberSeek</a> - This tool (for educators, employers, career counselors, current workers, and job seekers) provides insight on the current cybersecurity job market.
            <ul>
                <li><a href="https://www.cyberseek.org/heatmap.html" target="_blank">Heatmap</a> - An interactive, geographical map that shows the total number of cybersecurity job openings and the employer demand for each U.S. state.</li>
            </ul>
        </li>
        <li>
            <a href="https://www.eccouncil.org/" target="_blank">EC-Council</a> - Provides training and certifications for information security professionals worldwide.
        </li>
        <li>
            <a href="https://www.isc2.org/" target="_blank">ISC2</a> - Specializes in exam preparation and issuing entry-level and advanced cybersecurity certifications, including CCSP and CISSP.
        </li>
        <li>
            <a href="https://niccs.cisa.gov/" target="_blank">National Initiative for Cybersecurity Careers and Studies (NICCS)</a> - Offers cybersecurity training, career information, and resources to educators, students, and government employees.
            <ul>
                <li>
                    <a href="https://www.nist.gov/itl/applied-cybersecurity/nice/nice-framework-resource-center" target="_blank">NICE Framework Resource Center</a>
                </li>
                <li>
                    <a href="https://niccs.cisa.gov/workforce-development/nice-framework/work-roles" target="_blank">NICE Cybersecurity Workforce Framework Work Roles</a>
                </li>
                <li>
                    <a href="https://niccs.cisa.gov/workforce-development/nice-framework" target="_blank">Workforce Framework for Cybersecurity (NICE Framework)</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="w-100 d-flex justify-content-center">
    <p class="text-center">
        Looking for something else? Maybe we can help. <a href="#">Contact us.</a>
    </p>
</div>