{% load static %} 

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/ut.png' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/enmu.png' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/dakota.png' %}" alt="Augusta University logo"/>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/msu.jpg' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/uwf.png' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/sac.jpg' %}" alt="Augusta University logo"/>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/fiu.png' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/usf.png' %}" alt="Augusta University logo"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="info-institution-img my-3" src="{% static 'info/img/logo/augusta.png' %}" alt="Augusta University logo"/>
        </div>
    </div>
</div>