@charset "UTF-8";

@font-face {
    font-family: HeadingFont;
    src: url("../font/h_font.otf") format("opentype");
}

@font-face {
    font-family: ParagraphFont;
    src: url("../font/p_font.otf") format("opentype");
}

/* ----- Base styling for info app ------ */

:root {
    /* color themes */
    --main-color: #0072ce;
    --shade-color-1: #005da8;
    --shade-color-2: #0079db;
    --shade-color-3: #0064b5;
    --shade-color-4: #0c85e8;
    --shade-color-5: #006bc2;
    --shade-color-6: #1892f5;
    --shade-color-7: #004C97;
    --shade-color-8: #fff;
    --shade-color-9: #DDF4FF;
    --shade-color-10: #E6E4E4;
    --accent-color-white: #ffffff;
    --accent-color-green: #73ffb2;
    --accent-color-yellow: #ffee80;

    /* font themes */
    --title-font-family: HeadingFont, sans-serif;
    --body-font-family: ParagraphFont, sans-serif;
    --section-font-size: 2rem;
    --body-font-size: 1.1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-color: #333333;
    --body-bg: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    background: #fafafa;
    color: var(--body-color);
    height: 150vh;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-align: var(--body-text-align);
    background-color: var(--body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    color: var(--accent-color-white);
    font-family: var(--title-font-family);
    font-size: 5em;
    font-weight: bold;
}

h2 {
    color: var(--accent-color-white);
    font-family: var(--title-font-family);
    font-size: 2em;
    font-weight: normal;
}

h3 {
    color: var(--accent-color-white);
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: 1.75em;
}

h4 {
    color: var(--accent-color-white);
    font-family: var(--title-font-family);
}

h5 {
    color: var(--accent-color-white);
    font-family: var(--title-font-family);
}

.info-checkmark {
    height: 35px;
    width: auto;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--shade-color-5);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text, button.learn-more .button-text a {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text, button:hover .button-text a {
    color: #fff;
}

button.learn-more .button-text {
    white-space: nowrap;
}