{% extends 'core/index.html' %}
{% load static %}

{% block styles %} 
    {{ block.super }}
    <!--Template CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/discourse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/cardslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/imageslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/section.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/footer.css' %}">
{% endblock styles %}

{% block body %}

    {% include 'info/base/Navbar.html' %}

    {% block page_content %}{% endblock page_content %}

    {% include 'info/base/Footer.html' %} 

{% endblock body %}

{% block scripts %} 
    <!--Card Slider Script-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <!--Navbar script-->
    <script src="{% static 'info/js/navbar.js' %}"></script>
    {{ block.super }}
{% endblock scripts %}


