{% load static %}

<footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto info-footer-logo-container">
            <img src="{% static 'info/img/cae_seal_print.png' %}" height="175px" alt="" loading="lazy" />
        </div>

        <p class="text-center">Arming our nation’s heroes with cybersecurity skills to safeguard America’s cyberspace</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 info-footer-title">Get Involved</h5>

        <ul class="list-unstyled">
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Learners</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Institutions</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Employers Network</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Program Partners</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Privacy Policy</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Terms of Use</a>
            </li>
        </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 info-footer-title">Resources</h5>

        <ul class="list-unstyled">
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">FAQ</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">CIS</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Cyber Aptitude Assessment</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">NICE Framework</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">National Security Agency</a>
            </li>
            <li class="mb-2">
                <i class="bi bi-file-earmark text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">See All Resources</a>
            </li>
        </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 info-footer-title">Contact</h5>

        <ul class="list-unstyled">
            <li>
                <p><i class="bi bi-envelope text-white me-2"></i>cyberskills2work@uwf.edu</p>
            </li>
            <li>
                <i class="bi bi-person-lines-fill text-white me-2"></i><a href="#!" class="text-white text-decoration-none info-footer-item">Contact Form>>></a>
            </li>
        </ul>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 info-footer-base">
        This program is funded by the NCAE-C </br>
    </div>
    <!-- Copyright -->
</footer>
  