{% load static %}

<div class="navigation-wrap start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!--Nav logo-->
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'info/img/logo_white.png' %}" alt="">
                    </a>
                    <!--Nav collapse expand button-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            <li class="nav-item dropdown pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    About
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'info:About' %}">About Us</a></li>
                                    <li><a class="dropdown-item" href="{% url 'info:Discourse' %}">What People Say</a></li>
                                    <li><a class="dropdown-item" href="{% url 'info:Impact' %}">Program Impact</a></li>
                                    <li><a class="dropdown-item" href="{% url 'info:Employers' %}">Employers Network</a></li>
                                    <li><a class="dropdown-item" href="{% url 'info:Institutions' %}">Institutions Network</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Learners
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Get Started</a></li>
                                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="nav-item pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link" href="#">Programs</a>
                            </li>
                            <li class="nav-item pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link" href="#">Apply</a>
                            </li>
                            <li class="nav-item pe-4 pe-lg-0 me-0 me-lg-5">
                                <a class="nav-link" href="#">Sign in</a>
                            </li>
                        </ul>
                      </div>
                </nav>
            </div>
        </div>
    </div>
</div>

