{% load static %}

<div class="navigation-wrapper">
    <div class="navigation-sub-wrapper">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand m-0 p-0 ps-4" href="{% url 'info:Home' %}" class="logo" target="_self">
                <img class="navbar-img" src="{% static 'info/img/logo_white.png' %}" alt="CyberSkills2Work logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">About</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Learners</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Programs</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Employers</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Impact</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Apply</a>
                    </li>
                    <hr class="nav-item-seperator"/>
                    <li class="nav-item">
                        <a class="nav-link ms-3 ms-lg-0" href="#">Register/Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>