{% load static %} 

<div class="row w-100 m-0 pt-4 {% if section_style == 'light' %} info-section-light {% else %} info-section-dark {% endif %}">
    <div class="col pb-5 pt-5">

        {% if section_title %} 
            <div class="col d-flex justify-content-center p-0 pb-3">
                <h3 class="info-section-title ms-2 text-center"> {{ section_title }} </h1>
            </div>
        {% endif %}

        {% if section_text %} 
            <div class="col d-flex justify-content-center p-0 pt-3 pb-3">
                <div class="info-section-text-wrapper ms-2">
                    <p class="info-section-text"> {{ section_text|safe }} </p>
                    {% if section_image %} 
                        <img class="info-section-image" src="{% static '' %}{{section_image}}"/>
                    {% endif %}
                </div>
            </div> 
        {% endif %} 

        {% if section_content %}
            <div class="col d-flex justify-content-center p-0 pt-3 pb-3 flex-wrap">
                {{ section_content }}
            </div>
        {% endif %}

        {% if section_button %} 
            <div class="col d-flex justify-content-center p-0 pt-3 pb-3">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text"> <a href="{{ section_button_link }}"> {{ section_button }} </a> </span>
                </button>
            </div>
        {% endif %}

    </div>
</div>
