{% extends 'info/base/Section.html' %}
{% load static %}

<!--Section style-->
{% block section_style %} 
    info-section-dark
{% endblock section_style %}

<!--Title section-->
{% block has_title %} 
    {{ block.super }}
{% endblock has_title %}

{% block section_title %} 
    What People Say About CyberSkills2Work
{% endblock section_title %} 

<!--No Text section-->
{% block has_text %} {% endblock has_text %}

<!--Content section-->
{% block has_content %}
    {{ block.super }}
{% endblock has_content %}

{% block section_content %} 
    <div class="info-home-content-wrapper">
        {% include 'info/discourse/Testimonial.html' with image_link='info/img/Janice-Sanders.jpg' testimonial_name='Janice Sanders' testimonial_position="CyberSkills2Work '22 graduate" testimonial_text="“This program has allowed me to gain invaluable skills through the curriculum, as well as the hands-on application of the learning through the CTF's and Tabletop exercises. This program has opened many opportunities for me, and I am eager to see what the journey brings.”"%}
        {% include 'info/discourse/Testimonial.html' with image_link='info/img/Steven-MacDonald.jpg' testimonial_name='Steven MacDonald' testimonial_position="CyberSkills2Work '22 graduate"  testimonial_text="“This was an amazing opportunity that I was fortunate to be selected for. This program has greatly enhanced my knowledge of not only networks through the Network+ certification but also the CySA+ certificate. I would highly encourage anyone that has this opportunity to not only further their knowledge but also take advantage of the career advancement that is now within reach.”"%}
        {% include 'info/discourse/Testimonial.html' with image_link='info/img/Eman-El-Sheikh.jpg' testimonial_name='Dr. Eman El-Sheikh' testimonial_position="CyberSkills2Work Principal Investigator"  testimonial_text="“CyberSkills2Work has emerged as a nationally recognized cybersecurity training program. We’re honored to have a hand in steering the future of cybersecurity while developing the future workforce. This program is strategically preparing our country against malicious cyberattacks.”"%}
    </div>
{% endblock section_content %} 

<!--Button section-->
{% block has_button %} 
    {{ block.super }}
{% endblock has_button %} 

{% block section_button %} 
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text"> <a href="#">View More</a> </span>
    </button>
{% endblock section_button %}