{% extends 'info/base/Section.html' %}
{% load static %}

<!--Section style-->
{% block section_style %} 
    info-section-dark
{% endblock section_style %}

<!--Title section-->
{% block has_title %} 
    {{ block.super }}
{% endblock has_title %}

{% block section_title %} 
    What People Say About CyberSkills2Work
{% endblock section_title %} 

<!--No Text section-->
{% block has_text %} {% endblock has_text %}

<!--Content section-->
{% block has_content %}
    {{ block.super }}
{% endblock has_content %}

{% block section_content %} 
    <div class="info-home-content-wrapper">
        {% for testimonial in testimonials %} 
            {{ testimonial }}
        {% endfor %}
    </div>
{% endblock section_content %} 

<!--Button section-->
{% block has_button %} 
    {{ block.super }}
{% endblock has_button %} 

{% block section_button %} 
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text"> <a href="#">View More</a> </span>
    </button>
{% endblock section_button %}