{% extends 'info/base/Section.html' %}
{% load static %}

<!--Section style-->
{% block section_style %} 
    info-section-dark
{% endblock section_style %}

<!--Title section-->
{% block has_title %} 
    {{ block.super }}
{% endblock has_title %}

{% block section_title %} 
    CyberSkills2Work Responds to the Call
{% endblock section_title %} 

<!--Text section-->
{% block has_text %} 
    {{ block.super }}
{% endblock has_text %}

{% block section_text %} 
    CyberSkills2Work supporters hear the nation’s call for more cybersecurity in today’s ever-evolving cyberage. 
    Cyberspace is continually advancing with more sophisticated ways to conduct business, socialize, and shop online. 
    As it evolves, so does cybercrime. 
    Cybersecurity analysts emphasize the need to take action on cybercriminals and develop a solid cyberdefense against computer crimes. 
    Having skilled cybersecurity professionals at the frontline of cyberdefense helps protect networks, devices, and data from unlawful internet activity. 
    According to <a href="https://www.cyberseek.org/" target="_blank">CyberSeek</a>, the U.S. has a shortfall of about 597,767 cybersecurity professionals. More skilled professionals are needed to tackle the nation’s top cybersecurity challenges:
{% endblock section_text %} 

{% block section_image %} 
    <img class="info-section-image" src="{% static 'info/img/military-cybersecurity-person.jpg' %}"/>
{% endblock section_image %}

<!--No Content section-->
{% block has_content %}{% endblock has_content %}

<!--Button section-->
{% block has_button %} 
    {{ block.super }}
{% endblock has_button %} 

{% block section_button %} 
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text"> <a href="#">Learn More</a> </span>
    </button>
{% endblock section_button %}