{% extends 'info/base/Section.html' %}
{% load static %}

<!--Section style-->
{% block section_style %} 
    info-section-light
{% endblock section_style %}

<!--Title section-->
{% block has_title %} 
    {{ block.super }}
{% endblock has_title %}

{% block section_title %} 
Program Impact
{% endblock section_title %} 

<!--No Text section-->
{% block has_text %} {% endblock has_text %}

<!--Content section-->
{% block has_content %}
    {{ block.super }}
{% endblock has_content %}

{% block section_content %} 
    {% include 'info/home/Section3Images.html' %}
{% endblock section_content %}

<!--Button section-->
{% block has_button %} 
    {{ block.super }}
{% endblock has_button %} 

{% block section_button %} 
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text"> <a href="#">Learn More</a> </span>
    </button>
{% endblock section_button %}