{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'info/discourse/discourse.css' %}"> 

<div class="info-testimonial">
    <div class="info-testimonial-image-container" style="background-image: url({% static '' %}{{image_link}});"></div>
    <div class="info-testimonial-header-container">
        <h5 class="mt-4 text-center" >{{ testimonial_name }}</h5>
        <h6 class="mt-1 text-center">{{ testimonial_position }}</h6>
    </div>
    <div class="info-testimonial-text-container">
        <p>{{ testimonial_text }}</p>
    </div>
</div>

