.swiper-container-thin {
    width: 600px;
    height: 250px;
    border-radius: 25px;
}

.swiper-container-thin swiper-slide {
    display: flex;
    color: var(--body-color);
    font-family: var(--body-font-family);
    font-weight: normal;
    background: var(--shade-color-9);
    overflow: hidden;
}

.swiper-container-thin .swiper-slide-img-placeholder {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden;
    background: var(--shade-color-9);

    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}

.swiper-container-thin .swiper-slide-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    object-fit: fill;
    filter: brightness(80%);
}

.swiper-container-thin .swiper-slide-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 10px;
}

.swiper-container-thin .swiper-slide-text {
    font-family: var(--body-font-family);
    font-size: .75em;
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height)
}